.cl-footer {
  display: none;
}

.cl-header {
  display: none;
}

.cl-cardBox {
  border: none;
  box-shadow: none;
}

.cl-card {
  background-color: transparent;
}

.cl-footerActionLink{
    display:none
}
